@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Authors[0].Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors[0].Author.LastName)
        </th>
        <th>
            Book Count
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Authors)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @item.BookCount
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Author.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Author.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Author.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>